# Secrets
secrets.yaml

# Logs
home-assistant.log

# DB
home-assistant_v2.db

# Specific files
.sonoff.json
.storage
.cloud
core

# zigbee2mqtt
zigbee2mqtt

# custom components
custom_components

# db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
